@page "/"


<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="#" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="template/img/logo.webp" alt=""> -->
            <h1 class="sitename">Neville Nazerane</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#resume">Resume</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div class="header-social-links">
            @foreach (var social in Socials)
            {
                <a href="@social.Url" class="@social.Class" target="_blank"><i class="bi @social.Icon"></i></a>
            }
        </div>

    </div>
</header>

<main class="main">

    <!-- Home Section -->
    <section id="home" class="hero section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row align-items-center content">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <h2>.NET Developer</h2>
                    <p class="lead">
                        Enthusiastic developer in web & mobile applicaitons and devops
                    </p>
                    <div class="cta-buttons" data-aos="fade-up" data-aos-delay="300">
                        <a href="https://github.com/neville-nazerane" class="btn btn-primary">View My Git</a>
                        <a href="https://docs.nevillenazerane.com" class="btn btn-outline">My Documentation</a>
                    </div>
                    <div class="hero-stats" data-aos="fade-up" data-aos-delay="400">
                        @foreach (var stat in experenceStats)
                        {
                            <div class="stat-item">
                                <span class="stat-number">@stat.YearsUntilNow+</span>
                                <span class="stat-label">@stat.Label</span>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-image">
                        <img src="template/img/profile/profile-1.webp" alt="Portfolio Hero Image" class="img-fluid" data-aos="zoom-out" data-aos-delay="300">
                        <div class="shape-1"></div>
                        <div class="shape-2"></div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>About</h2>
            <div class="title-shape">
                <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </div>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row align-items-center">

                <div data-aos="fade-left" data-aos-delay="300">
                    <div class="about-content">

                        <h2>.NET Fullstack developer</h2>

                        <p class="lead mb-4">Comes in like a wreaking ball.</p>

                        <p class="mb-4">And then says lol and lol</p>

                        <div class="personal-info">
                            <div class="row g-4">

                                @foreach (var info in personalInfo)
                                {
                                    <div class="col-lg-6">
                                        <div class="info-item">
                                            <span class="label">@info.Title</span>
                                            <span class="value">@info.Detail</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->
    <!-- Skills Section -->
    <section id="skills" class="skills section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-4 skills-animation">

                @for (int i = 0; i < skills.Count(); i++)
                {
                    var skill = skills.ElementAt(i);

                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="skill-box">
                            <h3>@skill.Title</h3>
                            <p>@skill.Description</p>
                            <span class="text-end d-block">@skill.Precentage%</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@skill.Precentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                }

            </div>

        </div>

    </section><!-- /Skills Section -->
    <!-- Resume Section -->
    <section id="resume" class="resume section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Resume</h2>
            <div class="title-shape">
                <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </div>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
                <div class="col-12">
                    <div class="resume-wrapper">
                        <div class="resume-block" data-aos="fade-up">
                            <h2>Work Experience</h2>
                            <p class="lead"></p>

                            <div class="timeline">

                                <ResumeContent Items="workItems" />

                            </div>
                        </div>

                        <div class="resume-block" data-aos="fade-up" data-aos-delay="100">
                            <h2>My Education</h2>
                            <p class="lead"></p>

                            <div class="timeline">

                                <ResumeContent Items="educationItems" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Resume Section -->
</main>

<footer id="footer" class="footer">

    <div class="container">
        <div class="social-links d-flex justify-content-center">
            @foreach (var social in Socials)
            {
                <a href="@social.Url" target="_blank"><i class="bi @social.Icon"></i></a>
            }
        </div>
    </div>

</footer>

