@page
@model IndexModel

<div class="card-deck mt-5 mb-4">

    @foreach (var link in Model.ProfileLinks)
    {
    <div class="card shadow">
        <a href="@link.URL" class="card-body card-link text-center">
            <div class="card-title">@link.Title</div>
            <div class="card-img">
                <img src="@Model.blobUrl/@link.IconName" />
            </div>
        </a>
    </div>
    }
</div>


@foreach (var project in Model.Projects)
{
    <div class="card shadow-sm mt-3">
        <div class="card-body">
            <h2 class="card-title">@project.Title</h2>
            <div class="card-text">@project.Description</div>

            <div class="mt-4">
                @if (project.Link != null)
                {
                <a href="@project.Link" class="btn btn-success">Website</a>
                }
                @if (project.SourceCode != null)
                {
                <a href="@project.SourceCode" class="btn btn-success">Source Code</a>
                }
            </div>
        </div>
    </div>
}