@model IEnumerable<Project>

@{
    ViewData["Title"] = "Projects";
}

<div>

    @foreach (var project in Model)
    {
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">@project.Title</h1>
            <div class="card-text"> @project.Description</div>
        </div>
        <div class="card-footer">
            @if (project.Enabled)
            {
                <a class="btn btn-sm btn-danger" asp-action="Disable" asp-route-id="@project.Id">Disable</a>
            }
            else
            {
                <a class="btn btn-sm btn-success" asp-action="Enable" asp-route-id="@project.Id">Enable</a>
            }
            <a class="btn btn-sm btn-warning" asp-route-id="@project.Id" asp-action="Edit">Edit</a>
            <a class="btn btn-sm btn-info btn-up" asp-route-id="@project.Id" asp-action="MoveUp"></a>
            <a class="btn btn-sm btn-info btn-down" asp-route-id="@project.Id" asp-action="MoveDown"></a>
            <a class="btn btn-sm btn-danger" asp-route-id="@project.Id" asp-action="Delete">Delete</a>
        </div>
    </div>
    }

    <a class="btn btn-lg btn-success" asp-action="Add">Add</a>

</div>

